<div fxLayout="row" fxFill>
    <button fxFlex="none" mat-icon-button *ngIf="showBackButton" class="btn-back" (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" style="position: relative;flex-basis: auto !important;">
        <div class="ntk-toolbar-search-background" *ngIf="isShowBackground"></div>
        <div fxFlex style="z-index: 1;flex-basis: auto !important;">
            <input
                #searchInput
                name="ntk-input-toolbar-search"
                type="text"
                autocomplete='off'
                [placeholder]="placeholder"
                [(ngModel)]="value"
                (ngModelChange)='onSearchChanged($event)'
                (focus)="onFocus()"
                (blur)="onBlur()"
                [disableControl]="disableControl"
                (keypress)="onKeyPress($event)"/>
        </div>
        <button mat-icon-button class="btn-search" *ngIf="showSearchButton" tabindex="-1">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="btn-clear" tabindex="-1" (click)="onClear()" (mousedown)="onMouseDown()" *ngIf="showClearButton">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>



