<div fxLayout="column"
     style="width:100%; height: 100%; position: relative;"
     ntk-resize-sensor
     (onResizeSensor)="onResizeSensor()"
     ntk-datatable-drag
     [datatable]="this">
    <ntk-datatable-header
            fxFlex="none"
            *ngIf="showHeader"
            [columns]="columns"
            [cellTemplate]="headerTemplate"
            [style.paddingRight.px]="paddingRight"
            [scrollLeft]="scrollLeft"
            [defaultSort]="defaultSort"
            (columnResized)="onColumnResized($event)"
            (columnSorted)="onColumnSorted($event)"
            [rightWidth]="rightWidth">
    </ntk-datatable-header>
    <ntk-datatable-body
            fxFlex="auto"
            style="display: flex;overflow: hidden;overflow-y: auto;"
            [style.height.px]="bodyHeight"
            [items]="items"
            [(selectedItem)]="selected"
            [columns]="columns"
            [getData]="loadData"
            [itemHeight]="itemHeight"
            [scrollLeft]="scrollLeft"
            [rowClass]="rowClass"
            (selectedItemChange)="onRowSelected($event)"
            (rowDbClick)="onRowDbClick($event)"
            (rowClick)="onRowClick($event)"
            (fetchDataFinished)="onFetchDataFinished()"
            [rowTemplate]="rowTemplate"
            [hasAlternate]="hasAlternate">
    </ntk-datatable-body>
    <ntk-datatable-footer
            fxFlex="none"
            *ngIf="showFooter"
            [footer]="footer"
            [columns]="columns"
            [template]="footerTemplate"
            [style.paddingRight.px]="paddingRight"
            [scrollLeft]="scrollLeft">
    </ntk-datatable-footer>
    <ntk-datatable-scroller-horizontal
            fxFlex="none"
            [columns]="columns"
            [datatable]="this"
            [style.paddingRight.px]="paddingRight"
            [scrollLeft]="scrollLeft">
    </ntk-datatable-scroller-horizontal>
</div>
