:host {
  flex: 1 1 0%;
  box-sizing: border-box;
  margin-left: 0;
  overflow: hidden;

  &:last-child {
    padding-right: 0 !important;
  }

  &:first-child {
    .header-col:first-child {
      border-left: 0;
    }
  }
}

::ng-deep {
  ntk-details-calendar-day-header {
    .header-col {
      padding: 2px;
      overflow: hidden;
      box-sizing: border-box;
    }

    .day-of-month-container {
      position: relative;
      margin: 3px 0;

      mat-progress-spinner {
        margin: 0 auto;

        &.green {
          circle {
            stroke: green;
          }
        }
      }

      .day-of-month {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .short-day-name {
      display: none;
    }

    &.is-small-screen {
      .short-day-name {
        display: block;
      }

      .full-day-name {
        display: none;
      }
    }

  }
}
