<form enctype="multipart/form-data" method="post" class="attachments-container">
    <ngx-file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
        dropZoneClassName="{{isDevice || disabled || (isSmallScreen | async) || hideButtonAdd ? 'disabled-drop-zone' : 'enable-drop-zone'}}" 
        [disabled]="isDevice || disabled || (isSmallScreen | async)">
        <ng-template ngx-file-drop-content-tmp>
            <div #panelBrowseFiles fxFlex fxLayout="column" fxLayoutAlign="start stretch"
                [ngClass]="{'ntk-browser-box-disabled': !!disabled}" class="ntk-browser-box"
                style="display: block !important">
                <div fxLayout="row" [class.align-text]="attachmentData?.length > 0" fxLayoutAlign="center center" 
                    browseBtnClassName="ntk-browser-box-content" *ngIf="!isDevice && !disabled && !(isSmallScreen | async)" 
                    fxFlex='none'
                    [style.display]="hideButtonAdd ? 'none' : 'flex'"
                    >
                    <!-- <span fxFlex></span> -->
                    <label>
                        <input type="file" #inputCloudFiles (change)="onSelectFiles(inputCloudFiles.files)"
                        [accept]="acceptExtensions" style="display: none" multiple>
                    <mat-icon color="primary" style="cursor: pointer;">cloud_upload</mat-icon>
                    </label>
                    &nbsp;&nbsp;
                    <span>{{dropFilesGuideKey | translator}}</span>
                    &nbsp;
                    <label class="ntk-browser-box-text">
                        <input type="file" #inputBrowseFiles (change)="onSelectFiles(inputBrowseFiles.files)"
                            [accept]="acceptExtensions" style="display: none" [multiple]="allowMultipleFile">
                        <a (click)="browseFiles()" ntk-translator="btBrowse">browse</a>
                    </label>
                    <!-- NF-364 -->
                    <span *ngIf="additionalFileKey">&nbsp;{{'lbor' | translator}}&nbsp;</span>
                    <label class="ntk-browser-box-text" *ngIf="additionalFileKey">
                        <a (click)="additionalFileClick()">{{additionalFileKey | translator}}</a>
                    </label>
                    <!-- <span fxFlex></span> -->
                </div>
                <!-- [canRemove]="!disabled && !item.CantRemove" : can remove image when disable = false and CantRemove unset or set equal false -->
                <div fxLayout="row wrap" fxFlex='none' class="ntk-list-image-thumb">
                    <ntk-image-thumb *ngFor="let item of attachmentData" [model]="item"
                        [showMenu]="showMenu"
                        [secureUrl]="secureUrl"
                        [canDraw]='canDraw && !disabled' [canRemove]="!disabled && !item.CantRemove && !forceHideRemoveImg"
                        [isFitImageToVp] = "isFitImageToVp"
                        (statusChanged)="onImageThumbStatusChanged($event)"
                        (removeImageThumb)="onRemoveImageThumb($event)" (imageThumbLoaded)="onImageThumbLoaded($event)"
                        [canSelect]="canSelect" [isSelected]="true" (selectedChanged)="onSelectedChanged($event)"
                        [containerWidth]="imageWidth ? imageWidth : canSelect ? 75 : 150" 
                        [containerHeight]="imageHeight ? imageHeight : canSelect ? 75 : 180"
                        (showedDocument)="onShowDocument($event)" (drawingChanged)="onDrawingChanged($event)"
                        (onDownLoadDocument)="onImageThumbDownload($event)"
                        (onShowDocumentInfo)="onImageThumbShowDocumentInfo($event)"
                        [handlerClickOnImage]="!autoHandleThumbClick"
                        (onImageClicked)="onImageClick($event)"
                        [needGlobalEvent]='needGlobalEvent'
                        [hideTittle]='hideTittle'
                        >
                    </ntk-image-thumb>
                </div>
            </div>
        </ng-template>
    </ngx-file-drop>
</form>