:host {
  position: relative;
  padding-bottom: 20px;
  display: block;
}

.password-strength {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
}

.estimate-password-strength {
  height: 5px;
}


.progress-bar-password {
  height: 100%;
  background-color: #f7f7f7;
}

:host {
  &.weak {
    .progress-bar-password-weak {
      background: rgb(221, 44, 0);
    }

    .password-strength {
      color: rgb(221, 44, 0);
    }
  }

  &.medium {
    .progress-bar-password-weak, .progress-bar-password-medium {
      background: orange;
    }

    .password-strength {
      color: orange;
    }
  }

  &.strong {
    .progress-bar-password-weak, .progress-bar-password-medium, .progress-bar-password-strong {
      background: green;
    }

    .password-strength {
      color: green;
    }
  }
}
