.processing-label{
    font-size: 11px;
    border: solid 1px rgba(0, 0, 0, 0.64);
    width: 100%;
    height: 100%;
}
.thumb-containter {
    width: 100%;
    height: 100%;    
}

.error-label {
    font-size: 11px;
    border: solid 1px rgba(255, 0, 0, 0.64);
    color: rgba(255, 0, 0, 0.64);
    width: 100%;
    height: 100%;
}