<h2 style="margin-bottom: 0px;">Middle</h2>

<h3 style="margin-bottom: 0px;">One line</h3>
<ntk-middle-truncation [style.width.px]='500' style="display: block">A map of external dependencies and their
    correspondent UMD module identifiers. Map keys are TypeScript / EcmaScript module identifiers. Map values are UMD
    module ids. The purpose of this map is to correctly bundle an UMD module file (with rollup). By default, rxjs, tslib
    and @angular dependency symbols are supported.
</ntk-middle-truncation>

<h3 style="margin-bottom: 0px;">Two line</h3>
<ntk-middle-truncation [style.width.px]='500' [maxLines]="2" style="display: block">A map of external dependencies and
    their correspondent UMD module identifiers. Map keys are TypeScript / EcmaScript module identifiers. Map values are
    UMD module ids. The purpose of this map is to correctly bundle an UMD module file (with rollup). By default, rxjs,
    tslib and @angular dependency symbols are supported.
</ntk-middle-truncation>

<h3 style="margin-bottom: 0px;">One line, tooltip</h3>
<ntk-middle-truncation [style.width.px]='500' [autoTooltip]="true" [lineHeight]="18" style="display: block">A map of
    external dependencies and their correspondent UMD module identifiers. Map keys are TypeScript / EcmaScript module
    identifiers. Map values are UMD module ids. The purpose of this map is to correctly bundle an UMD module file (with
    rollup). By default, rxjs, tslib and @angular dependency symbols are supported.
</ntk-middle-truncation>

<h3 style="margin-bottom: 0px;">Two line, tooltip</h3>
<ntk-middle-truncation [style.width.px]='500' [autoTooltip]="true" [maxLines]="2" style="display: block">A map of
    external dependencies and their correspondent UMD module identifiers. Map keys are TypeScript / EcmaScript module
    identifiers. Map values are UMD module ids. The purpose of this map is to correctly bundle an UMD module file (with
    rollup). By default, rxjs, tslib and @angular dependency symbols are supported.
</ntk-middle-truncation>


<h2 style="margin-bottom: 0px;">Text</h2>

<h3 style="margin-bottom: 0px;">One line</h3>
<ntk-text-truncation [style.width.px]='500' style="display: block">A map of external dependencies and their
    correspondent UMD module identifiers. Map keys are TypeScript / EcmaScript module identifiers. Map values are UMD
    module ids. The purpose of this map is to correctly bundle an UMD module file (with rollup). By default, rxjs, tslib
    and @angular dependency symbols are supported.
</ntk-text-truncation>

<h3 style="margin-bottom: 0px;">One line, tooltip</h3>
<ntk-text-truncation [style.width.px]='500' [autoTooltip]="true" style="display: block">A map of external dependencies
    and their correspondent UMD module identifiers. Map keys are TypeScript / EcmaScript module identifiers. Map values
    are UMD module ids. The purpose of this map is to correctly bundle an UMD module file (with rollup). By default,
    rxjs, tslib and @angular dependency symbols are supported.
</ntk-text-truncation>

<h3 style="margin-bottom: 0px;">One line, marquee</h3>
<ntk-text-truncation  style="display: block" [marquee]="true" >
    A map of external dependencies and their correspondent UMD module identifiers. Map keys are TypeScript / EcmaScript module identifiers.
</ntk-text-truncation>
