<div fxLayout="row" style="width:100%;height:100%;" class="ntk-datatable-header">
    <div class="aside aside-left" fxFlex="none">
        <ntk-datatable-header-cell *ngFor="let column of columnsByPin.left"
                                   fxFlex="none" fxLayoutAlign="start center"
                                   class="datatable-header-cell"
                                   [class.is-last-column]="column.isLastColumn"
                                   [columnDef]="column"
                                   [template]="cellTemplate"
                                   (resized)="onColumnResized($event)"
                                   (sorted)="onColumnSorted(column)">
        </ntk-datatable-header-cell>
    </div>
    <div class="aside aside-center" fxFlex style="overflow: hidden;">
        <div fxLayout="row" style="float:left;height:100%;" class="scroller-horizontal-content" [ngStyle]="{'transform': 'translate(-' + scrollLeft + 'px, 0px)'}">
            <ntk-datatable-header-cell *ngFor="let column of columnsByPin.center"
                                       fxFlex="none" fxLayoutAlign="start center"
                                       class="datatable-header-cell"
                                       [class.is-last-column]="column.isLastColumn"
                                       [columnDef]="column"
                                       [template]="cellTemplate"
                                       (resized)="onColumnResized($event)"
                                       (sorted)="onColumnSorted(column)">
            </ntk-datatable-header-cell>
        </div>
    </div>
    <div class="aside aside-right" fxFlex="none" fxLayout="row">
        <div [style.width.px]="rightWidth">
            <ntk-datatable-header-cell *ngFor="let column of columnsByPin.right"
                                       fxFlex="none" fxLayoutAlign="start center"
                                       class="datatable-header-cell"
                                       [class.is-last-column]="column.isLastColumn"
                                       [columnDef]="column"
                                       [template]="cellTemplate"
                                       (resized)="onColumnResized($event)"
                                       (sorted)="onColumnSorted(column)">
            </ntk-datatable-header-cell>
        </div>
    </div>
</div>
