.release-note {
  background: #e5efdf;
  position: relative;
  padding: 8px 16px 16px 16px;
}

.color-green {
  color: #44860f;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
}

mat-icon {
  color: rgba(0, 0, 0, 0.54);
}
