ntk-estimate-password-strength {
  position: absolute;
  width: 100%;
  top: 42px;
}

.old-password {
  font-family: text-security-disc; // Fix circle if browser don't support
  text-security: circle; /* IE/Safari */
  -moz-text-security: circle; /* FireFox */
  -webkit-text-security: circle; /* Chrome/Safari  */
}

mat-form-field {
  width: 100%;
}

::ng-deep {
  ntk-change-password-dialog {
    .form-field-new-password {
      width: 100%;

      .mat-form-field-subscript-wrapper {
        padding-top: 8px;
      }
    }

    ntk-estimate-password-strength {
      &.weak .password-strength {
        display: none;
      }
    }
  }
}
