<form  [formGroup]="frmPassword" (ngSubmit)="onSave()" style="height:100%">
    <div fxFill fxLayout="column" class="passwordDialog">
        <mat-toolbar mat-dialog-title fxFlex="none" fxLayout="row" fxLayoutAlign="start center" color='primary'>
            <button fxFlex="none" type="button" mat-icon-button (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
            <span fxFlex class="dialog-title">{{'btChangePassword' | translator}}</span>
            <button mat-button type="submit" [disabled]='!canSave'>{{'btSave' | translator | uppercase}}</button>
        </mat-toolbar>
        <div class="content-dialog" mat-dialog-content>
            <div style="height: 0;width: 0;opacity: 0;overflow: hidden">
                <input type="text" name="username" autocomplete="on"  [value]="userName"  tabindex="-1"   />
                <input type="password" name="password" autocomplete="new-password" [value]="frmPassword.controls.NewPassword.value" tabindex="-1"   />
            </div>
            <mat-form-field>
                <input matInput type="text" autocomplete="off"  class="old-password" required placeholder="{{'lbOldPassword' | translator}}" formControlName="OldPassword"  autoFocus >
                <mat-error *ngIf="frmPassword.get('OldPassword').hasError('required')">
                    {{'msgPropertyMandatory' | translator:'lbOldPassword'}}
                </mat-error>
                <mat-error *ngIf="!frmPassword.get('OldPassword').hasError('required') && frmPassword.get('OldPassword').hasError('invalidPassword')">
                    {{errorMessage}}
                </mat-error>
            </mat-form-field>
            <div fxLayout="row">
                <div fxFlex style="position: relative">
                    <mat-form-field class="form-field-new-password">
                        <input matInput type="text" required autocomplete="off"  placeholder="{{'lbNewPassword' | translator}}" formControlName="NewPassword"   />
                        <mat-error *ngIf="frmPassword.get('NewPassword').hasError('required')">
                            {{'msgPropertyMandatory' | translator:'lbNewPassword'}}
                        </mat-error>
                        <mat-error *ngIf="frmPassword.get('NewPassword').hasError('PasswordStrengthIsWeak')">
                            {{'msgNewPasswordIsTooWeak'|translator}}
                        </mat-error>
                    </mat-form-field>
                    <ntk-estimate-password-strength [passwordStrength]="passwordStrength"></ntk-estimate-password-strength>
                </div>
                <div fxFlex="none" style="margin-left: 8px">
                    <button type="button" mat-raised-button color="primary" (click)="generate()">Generate</button>
                </div>
            </div>
        </div>
    </div>
</form>
