button {
  display: none;
  &[disabled] {
    mat-icon {
      color: inherit;
    }
  }
}

.separate {
  width: 60px;
  height: 100%;
  display: block;
}

.shown-prev-next-button {
  button {
    display: block;
  }
  .separate {
    display: none;
  }
}

.has-scroll{
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
