<div ntk-resize-sensor (onResizeSensor)="onResize()" fxLayout="row"  fxLayoutAlign="start center" style="width: 100%;height: 100%" [ngClass]="{'shown-prev-next-button':!(isAtFirst && isAtLast)}">
    <div fxFlex="none"  *ngIf="isShowNavigationButton">
        <button mat-icon-button class="btn-prev" [disabled]="isAtFirst" (click)="gotoPrev()">
            <mat-icon>navigate_before</mat-icon>
        </button>
    </div>
    <div fxFlex style="overflow: hidden;height: 100%">
        <div class="ntk-scrollable-container" [class.has-scroll]="!isShowNavigationButton" >
            <div class="ntk-scrollable-wrapper" >
                <ng-content></ng-content>
            </div>
        </div>
    </div>
    <div fxFlex="none" *ngIf="isShowNavigationButton">
        <button mat-icon-button class="btn-next" [disabled]="isAtLast" (click)="gotoNext()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
    <div class="separate" fxFlex="none" *ngIf="isShowNavigationButton"></div>
</div>
