<div class="stepper-slide-container" fxLayout="row" fxLayoutAlign="start stretch">
  <div *ngFor="let step of steps; let i = index"
       [attr.tabindex]="selectedIndex === i ? 0 : null"
       class="stepper-content" role="tabpanel"
       [@stepTransition]="_getAnimationDirection(i)"
       (@stepTransition.done)="_animationDone.next($event)"
       [id]="_getStepContentId(i)"
       [attr.aria-labelledby]="_getStepLabelId(i)"
       [attr.aria-expanded]="selectedIndex === i"
       fxLayout="row" fxLayoutAlign="start stretch">
    <ng-container [ngTemplateOutlet]="step.content"></ng-container>
  </div>
</div>
