@mixin resource-planning-events-component($theme, $options) {
  $borderColor: map_get($options, borderColor);
  $warmColor: map_get($options, warmColor);

  ntk-resource-planning-events {
    position: relative;
    float: left;
    height: 100%;
    .total {
      height: 22px;
      line-height: 22px;
      text-align: center;
      border-bottom: 1px solid $borderColor;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      z-index: 1;
    }
    ntk-resource-planning-droppable {
      display: block;
    }

    .events-container {
      padding-top: 23px;
      height: 100%;
      box-sizing: border-box;
    }
    .events {
      position: relative;
      height: 100%;
      padding-bottom: 10px;
      box-sizing: border-box;
      &:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
      }

    }
    .events-summary {
      margin-left: 1px;
      height: 100%;
    }
    .ui-droppable-hover:not(.ui-droppable-disabled), &.selected:not(.ui-droppable-disabled) {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 1px solid $warmColor;
        display: block;
        z-index: 1;
      }

    }

  }
}
