:host {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.scroll-viewport {
  overflow-x: hidden;;
  overflow-y: auto;
}

.blocked-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
