
.hs-toolbar-filter-button {
  font-weight: 400 !important;
}

.hs-items-selection {
  font-size: 14px !important;
}

.hs-items-selection:hover {
  background-color: #ececec;
}

.hs-input-filter-search {
  border-width: 0px;
  // line-height: 30px;
  background-color: transparent;
  padding: 0px;
  margin: 1px;
  position: relative;
  top: 0px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  outline: none;
}

